{% extends "cms/_layout/page.html" %}

{% block page_content %}
   {% include "cms/_inc/navigation.html" %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="{{article.media|background}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>{{article.heading}}</h1>
                        <hr class="small">
                        <span class="subheading">{{article.subheading}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <p>{{article.content}}</p>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}

