{% extends "cms/_layout/page.html" %}

{% block page_content %}
   {% include "cms/_inc/navigation.html" %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/blog/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{blog.name}}</h1>
                        <hr class="small">
                        <span class="subheading">{{blog.desc}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for a in articles %}
                <div class="post-preview">
                    <a href="/post/{{a.id}}">
                        <h2 class="post-title">
                            {{a.heading}}
                        </h2>
                        {% if a.subheading %}
                        <h3 class="post-subtitle">
                            {{a.subheading}}
                        </h3>
                        {% endif %}
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{a.author}}</a> on {{a.publish_date|dateformat}}</p>
                </div>
                <hr>
                {% endfor %}

                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>


            </div>
        </div>
    </div>

    <hr>
{% endblock %}

